/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

// Colors
$white-color: #ffffff;
$icon-color: #788489;
$gray-color: #777;
$black-color: #191516;
$blue-color: #4458dc;
$indigo-color: #854fee;

// Font Values
$primary-font: "Roboto", serif;
$secondary-font: "Rubik", sans-serif;

